
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAttendanceLabel" translate="a10DanceWebApp.attendance.home.createOrEditLabel">Create or edit a Attendance</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.attendance.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.attendance.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="a10DanceWebApp.attendance.attendanceDate" for="field_attendanceDate">Attendance Date</label>
                <div class="input-group">
                    <input id="field_attendanceDate" type="text" class="form-control" name="attendanceDate" datetime-picker="{{dateformat}}" ng-model="vm.attendance.attendanceDate" is-open="vm.datePickerOpenStatus.attendanceDate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('attendanceDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="a10DanceWebApp.attendance.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.attendance.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="a10DanceWebApp.attendance.isPresent" for="field_isPresent">Is Present</label>
            <input type="checkbox" class="form-control" name="isPresent" id="field_isPresent"
                    ng-model="vm.attendance.isPresent"
                     />
        </div>

        <div class="form-group">
            <label translate="a10DanceWebApp.attendance.subject" for="field_subject">Subject</label>
            <select class="form-control" id="field_subject" name="subject" ng-model="vm.attendance.subject" ng-options="subject as subject.id for subject in vm.subjects track by subject.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="a10DanceWebApp.attendance.student" for="field_student">Student</label>
            <select class="form-control" id="field_student" name="student" ng-model="vm.attendance.student" ng-options="student as student.id for student in vm.students track by student.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
