.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

.idea/*

.idea/encodings.xml

A10Dance.iml

.idea/compiler.xml

.idea/compiler.xml

.idea/encodings.xml

.idea/misc.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml
