
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myStudentLabel" translate="a10DanceApp.student.home.createOrEditLabel">Create or edit a Student</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.student.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.student.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="a10DanceApp.student.rollNumber" for="field_rollNumber">Roll Number</label>
            <input type="text" class="form-control" name="rollNumber" id="field_rollNumber"
                    ng-model="vm.student.rollNumber"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="a10DanceApp.student.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.student.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="a10DanceApp.student.phone" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                    ng-model="vm.student.phone"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="a10DanceApp.student.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.student.email"
                     />
        </div>

        <div class="form-group">
            <label translate="a10DanceApp.student.subject" for="field_subject">Subject</label>
            <select class="form-control" id="field_subject" multiple name="subject" ng-model="vm.student.subjects" ng-options="subject as subject.name for subject in vm.subjects track by subject.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
